---
layout: default
title: Data Science projects
---

<div class="blurb">
	<h1>Haider Khan</h1>
	<p>I've always been curious (some might say overly so). My undergrad degree in Economics and Mathematics didn't do enough to sate my curiosity though so I've
	spent the last couple of years aggressively learning and trying new things. That process of discovery has led me to data science.</p>

	<p>I have completed the Professional Data Science Certificate offered by IBM where I cemented my understanding of data science methodologies, Python, 
	databases, SQL, data visualization, data analysis, and machine learning. Machine learning techniques that I've covered include linear and logistic regression,
	neural networks, support vector machines, clustering, principal components analysis, and anomaly detection.</p>
	
	<p><img src="/assets/email.JPG"></p>
	
	<div style="text-align: center; margin-bottom: 1cm; margin-top: 1cm;">
	<button class="button1">Python</button>
	<button class="button1">Pandas</button>
	<button class="button1">SQL</button>
	<button class="button1">Tableau</button>
	<button class="button1">Spark</button>
	<button class="button1">Airflow</button>
	</div>
	
	<p>Here are some of the projects I've completed:</p>
	
	<ul class="posts">

	  {% for post in site.posts  %}
	    {% if post.nottableau == 'true' %}
		<li> <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
			<p style="font-size:16px">{{ post.title }}</p>
		</li>
	       
	    {% endif %}	
	  {% endfor %}
	</ul>
	
	<p> Here are some Tableau dashboards that I made about topics that I found interesting:</p>
	
	<ul class="posts">
	  
	  {% for post in site.posts if post.tableau == 'true' %}
	    {% if post.tableau == 'true' %}
	       <li> <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	    {% endif %}	
	  {% endfor %}	
	</ul>
	
</div><!-- /.blurb -->
